:root{ --primary-color: #ffffff;
   --secondary-color: rgb(7, 111, 114);
   --heading-font:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   --body-font:  'Courier New', Courier, monospace;
   --main-background: #cfd5d7;
  
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


body{
font-family : var(--body-font);
color: var(--secondary-color);
background-color: var(--main-background);
}


header, main, footer{
width: 1000px;
margin: 0 auto;}


nav a {
    text-decoration: none; 
    color: black;
    justify-self: end;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 8px 30px;
    margin-left: 20px; 
}

nav ul {
    display: flex;
    list-style: none; 
    margin: 0;
    padding: 0;
    justify-items: right;

}
.headerlogo{
width: 50px;
border-radius: 10px;
margin: 10px;}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
   padding: 1rem 2rem;
}


h1, h2 {
font-family: var(--heading-font);
color: var(--primary-color);
text-align: center;}

nav, p, section, article {
margin: 16px;
padding: 8px;}

.socialmedia a{
text-decoration: none;
}

.hero {
position: relative;}

.hero img {
display: block;
width: 100%;
height: auto;
border-radius: 10px;}

.hero h1 {
position: absolute;
top: 20px;
width: 100%;
padding: 16px;
text-align: center;
opacity: 0.7;
background-color: var(--secondary-color);
color: rgb(255, 255, 255);}

.hero article{
position: absolute;
background-color: rgba(119, 104, 39, 0.8) ;
color: antiquewhite;
bottom: 10px;
border-radius: 5px;

}
.hero article img {
float: right;
width: 200px;
margin: 10px;
}

.social{
width: 32px;
height: 32px;
margin: 0px;
display: inline-block;}


.socialmedia{
display: flex; 
    justify-content: flex-end; 
    gap: 15px; }



    .history {
        background-color: rgba(96, 134, 0, 0.593);
        text-align: center;
        position: relative;
    color: white;}
    
    .history-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        align-items: center;
        margin-top: 20px;
    }
    
    .history-content img {
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }


    figure {
        margin: 0;
        width: 18%; 
    }
    
    figure img {
        width: 100%;
        height: auto;
        background-color: #e0e0e0; 
    }
    
    figcaption {
        margin-top: 5px;
        font-size: 0.9rem;
    }

    .gallery {
        display: flex;
        justify-content: space-between; 
        gap: 10px;
        margin-top: 20px;}


        