:root{ --primary-color: #0f0f0f;
   --secondary-color: rgb(7, 111, 114);
   --heading-font:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   --body-font:  'Courier New', Courier, monospace;
   --main-background: #cfd5d7;
  
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


body{
font-family : var(--body-font);
color: var(--secondary-color);
background-color: var(--main-background);
}


header, main, footer{
width: 840px;
margin: 0 auto;}

.headerlogo{
width: 50px;
border-radius: 10px;
margin: 10px;}


h1, h2 {
font-family: var(--heading-font);
color: var(--primary-color);
text-align: center;}

nav, p, section, article {
margin: 16px;
padding: 8px;}

.socialmedia a{
text-decoration: none;}

.hero {
position: relative;}

.hero img {
display: block;
width: 100%;
height: auto;
border-radius: 10px;}

.hero h1 {
position: absolute;
top: 20px;
width: 100%;
padding: 16px;
text-align: center;
opacity: 0.7;
background-color: var(--secondary-color);
color: rgb(255, 255, 255);}

.hero article{
position: absolute;
background-color: rgba(119, 104, 39, 0.8) ;
color: antiquewhite;
bottom: 10px;
border-radius: 5px;

}
.hero article img {
float: right;
width: 200px;
margin: 10px;
}

.social{
width: 32px;
height: 32px;
margin: 0px;
display: inline-block;}
