:root{ --primary-color: #0f0f0f;
   --secondary-color: #e32;
   --heading-font: "Georgia"serif;
  
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;}


body{
font-family: var(--heading-font);
color: var(--secondary-color);}


header, main, footer{
width: 840px;
margin: 0 auto;}


h1, h2 {
font-family: var(--heading-font);
color: var(--primary-color);
text-align: center;}

nav, p, section, article {
margin: 16px;
padding: 8px;}

.socialmedia a{
text-decoration: none;}

.hero {
position: relative;}

.hero img {
display: block;
width: 100%;
height: auto;}

h1 {
position: absolute;
top: 20px;
width: 100%;
padding: 16px;
text-align: center;
opacity: 0.7;
background-color: var(--secondary-color);
color: antiquewhite;}

article{
position: absolute;
background-color: rgba(119, 104, 39, 0.8) ;
color: antiquewhite;
bottom: 10px;

}
.hero article img {
float: right;
width: 200px;
margin: 10px;
}

.social{
width: 32px;
height: 32px;
margin: 0 px;
display: inline-block;}
