:root {
    --background-color:darkblue ;
    --text-color:darkblue;;
    --text-align: center;
    
}

*{
margin:0;
padding: 0;
box-sizing: border-box;

}



nav{background-color:var(--background-color);
padding: 10px;
display: flex;
justify-content: space-evenly;
align-items: center;}

nav a{
color: white;
display: block;
padding: 20px;
text-decoration: none;
font-size: 1.2rem;
font-weight: 700;
}

h1{
color:var(--text-color);
border-bottom:1px solid #000;
}


main img{
width: 150px;
height: auto;
border: 1px gray solid;
padding: 2px;
box-shadow: 0 0 30px gray;}

p{
padding: 0px;}

/* Class Selector  */
.box{
margin: 1rem;
border:1px solid rgb(0 0 0 / 10%) ;
padding: 1rem;
color: #333;
background-color:#eee;}

main{

margin: 20px;
grid-column: 2/3;
margin: 1rem;}


main img {
float: right;}

aside{  
    width: 20rem;
    text-align: var(--text-align);
    
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
   }
   
   aside h2{
   position: relative;}

aside img{width: 200px;
height: auto;}

footer{
  margin-top: 15px;
  border-top: 1px solid #000 ;
  text-align: var(--text-align);
}

header, footer, .grid{
max-width: 840;
margin: auto;
}

.grid {
    display: grid;
    align-items: center;
  }
      

      
  aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
  }